.button {
    font: inherit;
    border: 1px solid #000000;
    background: #000000;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #383638;
    border-color: #383638;
  }
  
  .button:focus {
    outline: none;
  }
  